@font-face {
  font-family: "SourceSansProRegular";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/SourceSansProRegular/SourceSansPro-Regular.eot") format("embedded-opentype"),
  url("../fonts/SourceSansProRegular/SourceSansPro-Regular.woff") format("woff"),
  url("../fonts/SourceSansProRegular/SourceSansPro-Regular.ttf") format("truetype"); 
}

@font-face {
  font-family: "SourceSansProBold";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/SourceSansProBold/SourceSansPro-Bold.eot") format("embedded-opentype"),
  url("../fonts/SourceSansProBold/SourceSansPro-Bold.woff") format("woff"),
  url("../fonts/SourceSansProBold/SourceSansPro-Bold.ttf") format("truetype"); 
}

@font-face {
  font-family: "SourceSansProLight";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/SourceSansProLight/SourceSansPro-Light.eot") format("embedded-opentype"),
  url("../fonts/SourceSansProLight/SourceSansPro-Light.woff") format("woff"),
  url("../fonts/SourceSansProLight/SourceSansPro-Light.ttf") format("truetype"); 
}
@font-face {
  font-family: "Arkhip_font";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Arkhip/Arkhip_font.otf"),
  url("../fonts/Arkhip/Arkhip_font.ttf") format("truetype"); 
}