/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.2;
}


body {
    font-size: 18px;
    font-family: "SourceSansProRegular";
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.spriteIcon {
    background-image: url(../img/sprite.png);
    display: inline-block;
    vertical-align: middle;
}

.address-icon {
    background-position: -6px -10px;
    width: 31px;
    height: 30px;

}
.phone-icon {
    background-position: -52px -10px;
    width: 31px;
    height: 30px;
}
.insta-icon {
    background-position: -97px -15px;
    width: 22px;
    height: 22px;
}
.facebook-icon {
    background-position: -130px -15px;
    width: 22px;
    height: 22px;
}
.vk-icon {
    background-position: -163px -15px;
    width: 22px;
    height: 22px;
}
.mini-address-icon {
    background-position: -8px -52px;
    width: 27px;
    height: 26px;
}
.mini-time-icon {
    background-position: -43px -52px;
    width: 27px;
    height: 26px;
}
.mini-phone-icon {
    background-position: -77px -53px;
    width: 27px;
    height: 26px;
}
.mini-envelope-icon {
    background-position: -107px -54px;
    width: 27px;
    height: 26px;
}

.home-icon {
    background-position: -55px -86px;
    width: 20px;
    height: 20px;
}

.homePageBg {
    background-image: url(../img/bgHome.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/*FONTS PROPERTIES*/

.fontSize__16px {
    font-size: 16px;
}
.fontSize__15px {
    font-size: 15px;
}
.fontSize__13px {
    font-size: 13px;
}
.fontStyle__light {
    font-family: "SourceSansProLight";
}



/*HEADER*/

.headerMain {
    background-color: #050505;
    padding: 25px 0 30px;
    color: #fff;
}

.headerHome {
    background: transparent;
}

.headerListContacts {
    list-style-type: none;
    padding: 12px 0;
    font-size: 20px;
    font-family: "SourceSansProBold";
    margin: 0;
}

.headerInfo {
    text-align: right;
}

.headerListContacts li {
    display: inline-block;
    margin-right: 20px;
}
.headerListContacts li span {
    margin-right: 5px;
}

.headerListContacts li:last-child {
    margin-right: 0;
}
.header__socLink {
    width: 22px;
    height: 22px;
    display: inline-block;
    vertical-align: middle;
    margin: 0 2px;
}
.header__socLink:hover {
    opacity: 0.8;
}
.header__socLink span {
    vertical-align: top;
}

.headerMenuList {
    padding: 10px 0;
    margin: 0;
    border-top: 1px solid #fff;
    display: inline-block;
}
.headerMenuList li {
    display: inline-block;
    margin-right: 20px;
    font-size: 20px;
}
.headerMenuList li:last-child {
    margin-right: 0;
}
.headerMenuList li a {
    color: #fff;
    text-decoration: none;
}

/*HEADER*/

/*FOOTER*/

.footerMain {
    background-color: #050505;
    padding-top: 25px;
    color: #fff;
}

.footerMain p {
    margin: 0;
}

.logoFooter img {
    max-width: 100%;
}

.footerMenu {
    margin: 0;
    padding: 0;
}

.footerMenu li {
    list-style-type: none;
    margin-bottom: 4px;
}


.footerMenu li a {
    color: #fff;
    font-size: 18px;
    text-decoration: none;
}
.footerMenu li a:hover {
    text-decoration: underline;
}
.footerCopy{
    margin: 25px 0 15px;
}
.footerPolicy a {
    color: #fff;
    font-size: 13px;
}
.footerAddress {
    margin: 15px 0 0;
    list-style-type: none;
    position: relative;
    font-size: 16px;
    padding: 0;

}

.footerAddress li {
    position: relative;
    padding-left: 40px;
    margin-bottom: 15px;
}
.footerAddress li span {
    position: absolute;
    left: 0;
    top: -4px;
}
.footerAddress li:first-child span {
    top: 4px;
}

.footerSoc ul {
    padding: 10px 0 0;
    margin: 0;
    list-style-type: none;
}
.footerSoc ul li {
    margin-bottom: 9px;
}
.footerSoc ul li a {
    color: #fff;
    text-decoration: none;
}
.footerSoc ul li a:hover {
    text-decoration: underline;
}
.footerSoc ul span {
    margin-right: 10px;
    vertical-align: middle;
}

.footerSearch {
    position: relative;
    margin-top: 30px;
}

.footerSearch:after {
    position: absolute;
    content: '';
    background-image: url(../img/sprite.png);
    background-position: -10px -85px;
    width: 25px;
    height: 25px;
    right: 15px;
    top: 10px;

}

.footerSearch input {
    width: 100%;
    border: 1px solid #fff;
    background-color: transparent;
    padding: 10px 15px;
    color: #fff;
    outline: none;
}
.footerSearch input::placeholder {
    color: #fff;
}

/*FOOTER*/


.sliderHome {
    color: #fff;
    line-height: 1.1;
    text-align: right;
}

.sliderHome__img img {
    display: inline-block;
}

.sliderHome__date {
    font-family: "SourceSansProBold";
    font-size: 20px;
}
.sliderHome__title {
    margin-top: 20px;
    font-size: 50px;
    margin-bottom: 20px;
}

.btn_whiteBg {
    color: #000;
    background-color: #fff;
    text-decoration: none;
    font-size: 20px;
    padding: 10px 40px;
    display: inline-block;
}

.sliderHomeWrap {
    margin-top: 150px;
    padding-bottom: 250px;
}


.sliderHome .slick-dots li button {
    border-radius: 50%;
    border: 1px solid #fff;
}

.sliderHome .slick-dots {
    bottom: -40px;
    max-width: 240px;
    right: 0;
}

.sliderHome .slick-dots li button:before {
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    background-color: #fff;
    border-radius: 50%;
    opacity: 0;
    left: 6px;
    top: 6px;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}


.slick-dots li.slick-active button:before {
    opacity: 1;
}

/*BreadCrumbs*/

.breadcrumbs ul li {
    display: inline-block;
    font-size: 20px;
}
.breadcrumbs ul li:after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    background-image: url(../img/sprite.png);
    background-position: -89px -91px;
    width: 25px;
    height: 10px;
    margin: 0 4px 0 8px;
}
.breadcrumbs ul li:last-child:after {
    display: none;
}
.breadcrumbs ul li span {
    margin-right: 6px;
    margin-top: -2px;
}
.breadcrumbs ul li a {
    color: #6d6e71;
    text-decoration: none;
}

.titleArkhip {
    text-align: center;
    font-size: 35px;
    font-family: "Arkhip_font";
    margin-top: 35px;
}




/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
